.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #1d1d20;
}

.App {
  text-align: center;
}

img {
  max-width: 768px;
}

h1 {
  color: #e2e2e2;
}

.input-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;
}

.btn {
  border: 2px solid #4a90e2;
  color: white;
  background-color: #4a90e2;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.input-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 10px;
  opacity: 0;
}

input[type="submit"] {
  border: 2px solid #4a90e2;
  color: white;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 4px;
}

.text {
  max-width: 768px;
  margin: 20px auto;
  text-align: justify;
  font-size: 19px;
  color: #e2e2e2;
  line-height: 32px;
}
